black==26.1.0
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
django-stubs-ext==5.2.9
django-stubs==5.2.9
graphene-django==3.2.3
graphene==3.4.3
pillow==12.1.1
psycopg2-binary==2.9.11
whitenoise==6.11.0
