@import "tailwindcss";

.page-header {
  @apply flex items-center mb-4;
  height: 2rem;
}

.page-breadcrumbs {
  @apply p-2;
}

.mantine-Group-root {
  @apply mb-4;
}

.fit-content {
  width: fit-content;
}

.page-form {
  @apply px-2;
}

a {
  text-decoration: underline;
}

.rainbow-text {
  /* Set a large, bold font for the effect to be visible */
  /*font-size: 72px;*/
  /*font-weight: bold;*/
  /*text-align: center;*/

  /* Apply the rainbow gradient background */
  background: linear-gradient(45deg, pink, red, orange, yellow, green);
  /* Ensure the gradient repeats if the text is long */
  background-size: 100% 100%;

  /* Clip the background to the text area */
  -webkit-background-clip: text; /* For broader compatibility */
  background-clip: text;

  /* Make the text color transparent so the background shows through */
  color: transparent;
}
